@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./icon-fonts/icon-style.css";
@import "./css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
@font-face {
    font-family: "icomoon";
    src: url("./icon-fonts/fonts/icomoon.ttf") format("opentype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    /* font-family: Verdana, sans-serif; */
    font-family: "Exo 2", sans-serif;
    /* color: #414141; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}

.imagePrev {
    position: relative;
    min-height: 100px;
}
.imagePrev img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    z-index: -3;
    overflow: hidden;
}
.z-3 {
    z-index: 3;
}
.z--1 {
    z-index: -1;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.border-none {
    border: none;
}

.logotip {
    height: 100px;
    width: 100px;
    background: url("./img/Logo.png") 0 0 no-repeat;
    background-image: url(./img/Logo.png);
    background-size: contain;
    background-position: center;
}
.orange {
    color: #ea5941;
}
.castom-btn-orange {
    background-color: #ea5941;
    color: #fff;
}
.castom-btn-yellow {
    background-color: #5dfa8f;
    color: #fff;
}
.gradient {
    background-image: linear-gradient(214deg, #cc8e4e 0%, #b31919 100%);
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.color-w {
    color: #fff;
}
.min-h-100 {
    min-height: 100px;
}
.radius-40px {
    border-radius: 40px;
    overflow: hidden;
}
.radius-text {
    border-radius: 20px 0 20px 0;
    overflow: hidden;
}

.w-100 {
    width: 100%;
}
.categories img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10% 30% 50% 70%;
}

.img-prev-radius img {
    border-radius: 20% 0 10% 0;
    overflow: hidden;
}
.bg-image-login {
    background-image: linear-gradient(
            rgba(71, 84, 95, 0.6),
            rgba(71, 84, 95, 0.6)
        ),
        url("./img/categories//loginForm.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.bg-image-foodList {
    background-image: linear-gradient(
            rgba(201, 201, 201, 0.9),
            rgba(181, 181, 181, 0.9)
        ),
        url("./img/categories/foodList.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.bg-image-foodList_dark {
    background-image: linear-gradient(
            rgba(105, 105, 105, 0.9),
            rgba(78, 78, 78, 0.9)
        ),
        url("./img/categories/foodList.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.h-400px {
    height: 400px;
}
.h-350px {
    height: 350px;
}
.cast-card-nowrap {
    flex-wrap: wrap;
    flex-direction: row;
}
.bg-red {
    background-color: #b31919;
}
.shadow-prev {
    box-shadow: 0px 5px 8px rgb(0 0 0 / 3%);
}
.shadow-prev:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.transition-prev {
    transition: all 0.3s ease 0s;
}
.title-form {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.color-red {
    color: red;
}
.fz20 {
    font-size: 20px;
}
.font-weight {
    font-weight: bold;
}
.h-100px {
    height: 200px;
    width: 100%;
}
.h-100px img {
    object-fit: contain;
}
.white_txt {
    color: #fff;
}
.white_txt * {
    color: #fff;
}
.black_txt {
    color: #000;
}

.page-item.active .page-link {
    z-index: 3;
    color: rgb(249, 249, 249);
    background-color: #ffc107;
}
.swiper-pagination {
    bottom: 50%;
}

.hover-underline .underline-item {
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.hover-underline .underline-item:after {
    display: block;
    content: "";
    background-color: rgb(171, 26, 26);
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hover-underline .underline-item:hover:after,
.hover-underline .underline-item:focus:after {
    width: 100%;
}

.parent-loader {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #fafafa;
    color: rgb(144, 136, 50);
}
.loader {
    width: 150px;
    height: 150px;
    position: relative;
    border: 16px solid #fafafa;
    border-radius: 100vw;
    border-top: 16px solid red;
    animation: spin 1s linear infinite;
}
.loader::before {
    position: absolute;
    content: "";
    top: 2.25px;
    left: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100vw;
    background-color: red;
    animation: spin 1s linear infinite;
}
.loader::after {
    position: absolute;
    content: "";
    top: 2.25px;
    right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 100vw;
    background-color: red;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
